<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Minha App Express</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header>
      <h1>Bem-vindo à minha aplicação!</h1>
    </header>

    {{{body}}}

    <footer>
      <small>&copy; 2025</small>
    </footer>
  </body>
</html>
